<br><br>
<!-- 上方文字框架 -->
<div class="NAKWindow">
  <div class="font-NAK">
    NAK
  </div>
</div>
<!-- NAK上方文字框架 -->
<!-- 下方文字框架 -->
<div class="LearningWindow">
  <div class="font-Learning">
    Learning
  </div>
</div>
<!-- Learning文字框架 -->
<br><br>
<div class="email">
  email:
  <br>
  <input formControlName="email" placeholder="email" type="text" />
</div>
<br>
<div class="pwd">
  Password:
  <br>
  <input formControlName="pwd" placeholder="password" type="password" />
  <br>
</div>
<div class="btn">
  <button id="SignUp">登入</button><br><br>
</div>


<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">NUTC &copy; NAK Learning 2018</p>
  </div>
</footer>
<br>
<script src="/app.js"></script>
<script src="/factory.js"></script>
<script src="/controller.js"></script>