
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <!-- 選類別專用 -->
          <h1 class="my-4">All Courses</h1>
          <div class="list-group">
            <!-- 
            <a href="#" class="list-group-item">System </a>
            <a href="#" class="list-group-item">System </a>
            <a href="#" class="list-group-item">System </a>
             -->
          </div>
          <!-- 選類別專用 -->
        </div>
        <div class="col-lg-9">
          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
          </div>
          <div class="row">
<!-- 課程001 -->
              <div class="col-lg-4 col-md-6 mb-4" (click) = "addAjax()">
                <div class="card h-100">
                  <img class="card-img-top" src="/assets/images/ajax.png">
                  <div class="card-body">
                    <h4 class="card-title">
                      Ajax
                    </h4>
                    <h5>3C</h5>
                    <p class="card-text">
                        Ajax 又稱<br>非同步JavaScript和XML<br>
                        是一種創建互動式網頁(RWD)的網頁開發技術
                    </p>
                  </div>
                </div>
              </div>
<!-- 課程001 -->
<!-- 課程002 -->
              <div class="col-lg-4 col-md-6 mb-4" (click) = "addJava()">
                <div class="card h-100">
                  <img class="card-img-top" src="/assets/images/java.png">
                  <div class="card-body">
                    <h4 class="card-title">
                      Java
                    </h4>
                    <h5>4C</h5>
                    <p class="card-text">
                        Java擁有<br>cross-platform、OOP特性<br>
                        廣泛應用於Web應用開發和行動APP開發
                    </p>                 
                   </div>
                   <button></button>
                </div>
              </div>
<!-- 課程002 -->
<!-- 課程003 -->
              <div class="col-lg-4 col-md-6 mb-4" (click) = "addPython()">
                <div class="card h-100">
                  <img class="card-img-top" src="/assets/images/python.png">
                  <div class="card-body">
                    <h4 class="card-title">
                      Python
                    </h4>
                    <h5>3C</h5>
                    <p class="card-text">
                        Python是經常被廣泛應用的<br>High-level language<br>
                        用於GUI介面、Web程式、網路爬蟲...
                    </p>                    
                  </div>
                  <button></button>
                </div>
              </div>
<!-- 課程003 -->
<!-- 課程004 -->
              <div class="col-lg-4 col-md-6 mb-4" (click) = "addLinux()">
                <div class="card h-100">
                  <img class="card-img-top" src="/assets/images/linux.png">
                  <div class="card-body">
                    <h4 class="card-title">
                      Linux
                    </h4>
                    <h5>3C</h5>
                    <p class="card-text">
                        Linux是一種FLOSS，任何個人都可以自由地使用Linux的所有底層原始碼<br>也可以自由地修改和再發布
                    </p>                    
                  </div>
                  <button></button>
                </div>
              </div>
<!-- 課程004 -->
<!-- 課程005 -->
              <div class="col-lg-4 col-md-6 mb-4" (click) = "addAlgorithm()">
                <div class="card h-100">
                  <img class="card-img-top" src="/assets/images/algorithm.png">
                  <div class="card-body">
                    <h4 class="card-title">
                      Algorithm
                    </h4>
                    <h5>4C</h5>
                    <p class="card-text">
                        計算、資料處理和自動推理<br>
                        演算法是一個表示爲有限長列表的有效方法<br>
                        演算法應包含清晰定義的指令用於計算函式
                    </p>                    
                  </div>
                  <button></button>
                </div>
              </div>
<!-- 課程005 -->
<!-- 課程006 -->
              <div class="col-lg-4 col-md-6 mb-4" (click) = "addAngular()">
                <div class="card h-100">
                  <img class="card-img-top" src="/assets/images/angular.png">
                  <div class="card-body">
                    <h4 class="card-title">
                      Angular
                    </h4>
                    <h5>?C</h5>
                    <p class="card-text">
                        AngularJS是一款由Google維護的開源JavaScript函式庫<br>
                        用來協助單一頁面應用程式運行
                    </p>                   
                  </div>
                  <button></button>
                </div>
              </div>

            </div>
            <!-- /.row -->
          </div>
          <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
  
    <!-- Footer -->
    <br>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">NUTC &copy; NAK Learning 2018</p>
      </div>
    </footer>
    <br>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>