<br>
<div class="tbwindow">
<table class="Profile">
    <thead>
    <tr>
    <th>Mon.</th>
    <th>Tue.</th>
    <th>Wed.</th>
    <th>Thu.</th>
    <th>Fri.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>{{Ajax}}</td>
    <td>{{Java}}</td>
    <td>{{Python}}</td>
    <td>c4_1</td>
    <td>c5_1</td>
    </tr>
    <tr>
    <td>{{Ajax}}</td>
    <td>{{Java}}</td>
    <td>{{Python}}</td>
    <td>c4_2</td>
    <td>c5_2</td>
    </tr>
    <tr>
    <td>{{Ajax}}</td>
    <td>{{Java}}</td>
    <td>{{Python}}</td>
    <td>c4_3</td>
    <td>c5_3</td>
    </tr>
    <tr>
    <td>{{Ajax}}</td>
    <td>{{Java}}</td>
    <td>{{Python}}</td>
    <td>c4_4</td>
    <td>c5_4</td>
    </tr>
    <tr>
    <td>{{Linux}}</td>
    <td>{{Algorithm}}</td>
    <td>{{Angular}}</td>
    <td>c4_5</td>
    <td>c5_5</td>
    </tr>
    <tr>
    <td>{{Linux}}</td>
    <td>{{Algorithm}}</td>
    <td>{{Angular}}</td>
    <td>c4_6</td>
    <td>c5_6</td>
    </tr>
    <tr>
    <td>{{Linux}}</td>
    <td>{{Algorithm}}</td>
    <td>{{Angular}}</td>
    <td>c4_7</td>
    <td>c5_7</td>
    </tr>
    <tr>
    <td>{{Linux}}</td>
    <td>{{Algorithm}}</td>
    <td>{{Angular}}</td>
    <td>c4_8</td>
    <td>c5_8</td>
    </tr>
   
    </tbody>
    </table>
  </div>
<br>
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">NUTC &copy; NAK Learning 2018</p>
    </div>
  </footer>
<br>